// VARIABLES
$blue: #2D538A
$dark-blue: #002942
$yellow: #FFCB2A
$light-yellow: #FFE160
$gray: #E6E5E5

$gradient1: $blue 0%, $dark-blue 50%

@mixin transition($time)
  -webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -ms-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  transition: all $time cubic-bezier(0.42, 0, 0.58, 1)

@mixin gradient($direction, $colors)
  background: -webkit-linear-gradient($direction, $colors)
  background: -moz-linear-gradient($direction, $colors)
  background: -o-linear-gradient($direction, $colors)
  background: linear-gradient($direction, $colors)

@mixin ornament($section)
	&--#{$section}
		&:before
			content: ""
			display: block
			position: absolute
			top: -25px
			width: 210px
			height: 84px
			left: 50%
			margin-left: -105px
			background-image: url('../images/ornament-sec-#{$section}.png')

.sec			
	position: relative
	@include ornament(benefits)
	@include ornament(blog)
	@include ornament(contact)
	@include ornament(cursos)
	@include ornament(sustainability)
	@include ornament(testimonials)
	@include ornament(video)
	@include ornament(quote)
	@include ornament(quote2)

.sec-title
	font-family: 'gotham-black'
	font-size: 28px
	color: $blue
	align-self: baseline

.post-title
	font-family: 'gotham-black'
	font-size: 24px
	color: $blue
	align-self: baseline

.sec-title-description
	align-self: baseline

.secs-pad-wrap
	padding-top: 100px

*,
*:before,
*:after
	background-repeat: no-repeat

html.w-mod-touch *
	background-attachment: scroll !important

body, html
	margin: 0
	font-family: 'gotham-book', sans-serif

html
	height: 100%

a, a:link, a:visited, a:active
	color: inherit
	text-decoration: none

a:hover
	color: inherit

@import "base/helpers"
@import "base/typography"
@import "base/nav-toggle"
@import "base/header"
@import "base/footer"
@import "base/components"

@import "pages/home"
@import "pages/solucoes"
@import "pages/produtos"
@import "pages/sobre"
@import "pages/clientes"
@import "pages/blog"
