// PAGE Clientes
.page--clientes
	.sec
		&--main
			padding: 60px 0
			.sec-title
				font-size: 44px
			.clientes-logos-wrap
				padding: 60px 0
				figure
					width: 240px
					height: 100px
					margin-bottom: 70px
				img
					max-width: 200px
					max-height: 95px
		&--testimonials
			background-color: #f4f4f4
			padding: 70px 0 100px
			.testimonial-author
				font-size: 18px
				font-family: 'gotham-black'
				margin-bottom: 0
				color: $blue
			img
				max-width: 180px
				max-height: 180px
				margin-right: 70px
				@media only screen and (max-width: 60rem)
					margin: 0 35px 35px 0
